.dotted-bg {
  background-image: url("../assets/auth-screen-bg.png");
}
.hero-bg {
  background-image: url("../assets/hero-bg.png");
  position: relative;
  overflow: hidden;
}
.hero-bg::before {
  content: "Mayhem";
  font-size: 328px;
  line-height: 502px;
  position: absolute;
  top: -300px;
  left: -25px;
  color: #eeeeee;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.05;
}
.hero-bg::after {
  content: "Mayhem";
  font-size: 328px;
  line-height: 502px;
  position: absolute;
  bottom: -280px;
  left: -25px;
  color: #eeeeee;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.05;
  z-index: 0;
}
.hero-secondary-bg {
  background-image: url("../assets/hero-secondary-bg.png");
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.ant-menu-vertical {
  border-inline-end: none !important;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.bg-rectangle {
  z-index: 10 !important;
}
.bg-rectangle::after {
  content: " ";
  position: absolute;
  top: 5px;
  width: 90px;
  height: 30px;
  background-color: #89089f;
  z-index: -1;
}
.bg-rectangle-bottom {
  z-index: 10 !important;
  text-transform: uppercase;
}
.bg-rectangle-bottom::before {
  content: " ";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 90px;
  height: 30px;
  background-color: #89089f;
  z-index: -1;
}
label {
  color: #fff;
}
